p#secret {
    text-align: center;
    min-height: 20px;
}
p.err_msg {
    margin: 10px 0;
    text-align: center;
    color: red;
    min-height: 20px;
}
img#qrcode_img {
    display: block;
    margin: 0 auto;
}
input#authentication_code {
    display: block;
    margin: 0 auto 10px;
}