{% extends 'base.html' %}
{% load i18n static%}

{% block title %}{% trans 'Account Settings' %}{% endblock %}

{% block head %}
  <link href="{% static 'css/password.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
  <div class="page-header">
    <h1>{% trans 'Account Settings' %}</h1>
  </div>
  <div class="row" style="margin-top: 2em">
    <div class="col-md-3">
      {% include 'core/partial_settings_menu.html' with active='password' %}
    </div>
    <div class="col-md-9">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      <h3 style="margin-top: 0">{% trans 'Change Password' %}</h3>
      {% if password_msg %}
	      <h4 style="color: red">{{password_msg}}</h4>
	  {% endif %}
      <form role="form" class="form-horizontal" method="post" action="{% url 'password' %}">
        {% csrf_token %}
        {{ form.id }}
        {% for field in form.visible_fields %}
          <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label for="{{ field.label }}" class="col-sm-3 control-label">{{ field.label }}</label>
            <div class="col-sm-9">
              {{ field }}
              {% if field.help_text %}
                <span class="help-block">{{ field.help_text }}</span>
              {% endif %}
              {% for error in field.errors %}
                <label class="control-label">{{ error }}</label>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <form id="enable_2fa_form">
  <div class="modal fade" id="enable_2fa_modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="enable_close_btn" class="close" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% trans 'Setup Authenticator App' %}</h4>
        </div>
        <div class="modal-body">
          <p>{% trans 'Please set up the QR code with the authentication application.' %}</p>
          <img id="qrcode_img" width="225" height="225" alt="qrcode">
          <p id="secet">test</p>
          <p>{% trans 'Input authentication code (6 digits)' %}</p>
          {% csrf_token %}
          <input type="text" id="authentication_code" name="authentication_code" maxlength="6" required autocomplete="off"></inputs>
          <p class="err_msg"></p>
        </div>
        <div class="modal-footer">
          <button type="button" id="enable_cancel_btn" class="btn btn-default">{% trans 'Cancel' %}</button>
          <button type="submit" id="enable_submit_btn" class="btn btn-primary">{% trans 'Submit' %}</button>
        </div>
      </div>
    </div>
  </div>
  </form>
  <form id="disable_2fa_form">
    <div class="modal fade" id="disable_2fa_modal" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" id="disable_close_btn" class="close" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{% trans 'Disable 2FA settings?' %}</h4>
          </div>
          <div class="modal-body">
            {% csrf_token %}
            <p class="err_msg"></p>
          </div>
            <div class="modal-footer">
            <button type="submit" id="disable_yes_btn" class="btn btn-default">{% trans 'Yes' %}</button>
            <button type="button" id="disable_no_btn" class="btn btn-primary">{% trans 'No' %}</button>
          </div>
        </div>
      </div>
    </div>
    </form>
{% endblock main %}
